[Desktop Entry]
Encoding=UTF-8
Name=Exchangecoin
Comment=Exchangecoin P2P Cryptocurrency
Exec=/usr/bin/exchangecoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/exchangecoin128.png
MimeType=x-scheme-handler/bitcoin;
Categories=Office;
Name[en_US]=exchangecoin-qt.desktop
